USE [master]
GO
/****** Object:  Database [KursiIm]    Script Date: 3/15/2021 11:43:50 PM ******/
CREATE DATABASE [KursiIm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KursiIm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KursiIm.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KursiIm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KursiIm_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KursiIm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KursiIm]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] NOT NULL,
	[Title] [varchar](100) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDMunicipality] [int] NOT NULL,
	[IDEntryUser] [int] NOT NULL,
	[LegalName] [varchar](100) NULL,
	[Subtitle] [varchar](100) NULL,
	[Description] [varchar](500) NULL,
	[IsActive] [bit] NULL,
	[InsertionDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IDLastModifiedUser] [int] NULL,
	[IsDeleted] [bit] NULL,
	[DeleteDate] [datetime] NULL,
	[IDDeleteUser] [int] NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Website] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Facebook] [varchar](100) NULL,
	[Instagram] [varchar](100) NULL,
	[LinkedIn] [varchar](100) NULL,
	[Address] [varchar](150) NULL,
	[Latitude] [varchar](20) NULL,
	[Longitude] [varchar](20) NULL,
	[TotalRate] [int] NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyDocuments]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyDocuments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCompany] [int] NULL,
	[Name] [varchar](100) NULL,
	[Path] [varchar](150) NULL,
	[IsPrimary] [bit] NULL,
	[IDEntryUser] [int] NULL,
	[InsertionDate] [datetime] NULL,
 CONSTRAINT [PK_CompanyDocuments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyRatings]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyRatings](
	[ID] [int] NULL,
	[IDCompany] [int] NULL,
	[Stars] [int] NULL,
	[Comment] [varchar](250) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LogDataChange]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogDataChange](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[IDEntryUser] [int] NOT NULL,
	[EntryUser] [nvarchar](250) NOT NULL,
	[Before] [varbinary](max) NOT NULL,
	[After] [varbinary](max) NOT NULL,
	[ComputerName] [nvarchar](250) NOT NULL,
	[IDAddress] [nvarchar](250) NOT NULL,
	[IDLogBrowserType] [int] NOT NULL,
	[IDLogOperatingSystemType] [int] NOT NULL,
	[IsMobileDevice] [bit] NOT NULL,
	[IDLogDataChangeStatus] [int] NOT NULL,
	[IDTable] [int] NOT NULL,
 CONSTRAINT [PK_LogDataChange] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LogDataChangeStatus]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogDataChangeStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[EntryDate] [datetime] NOT NULL,
	[IDEntryUser] [int] NOT NULL,
	[EntryUser] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_LogDataChangeStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogFailedAuthentication]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogFailedAuthentication](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Account] [varchar](250) NOT NULL,
	[ComputerName] [nvarchar](250) NULL,
	[IPAddress] [varchar](250) NULL,
	[IDLogOperationSystemType] [int] NULL,
	[IDLogBrowserType] [int] NULL,
	[IsMobileDevice] [bit] NULL,
	[EntryDate] [datetime] NULL,
 CONSTRAINT [PK_LogFailedAuthentication] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LogInternetBrowserType]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogInternetBrowserType](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[IDEntryUser] [int] NOT NULL,
	[EntryUser] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_LogInternetBrowserType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogOperatingSystemType]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogOperatingSystemType](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[IDEntryUser] [int] NOT NULL,
	[EntryUser] [varchar](250) NOT NULL,
 CONSTRAINT [PK_LogOperatingSystemType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LogUserActivity]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogUserActivity](
	[ID] [int] NOT NULL,
	[IDUser] [int] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[ComputerName] [nvarchar](250) NOT NULL,
	[IPAddress] [nvarchar](250) NOT NULL,
	[IDLogBrowserType] [int] NOT NULL,
	[IDLogOperatingSystemType] [int] NOT NULL,
	[IDModule] [int] NOT NULL,
	[URL] [nvarchar](500) NOT NULL,
	[IsPublic] [bit] NULL,
	[IsMobileDevice] [bit] NOT NULL,
	[IDLogUserActivityStatus] [int] IDENTITY(1,1) NOT NULL,
	[EntryUser] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_LogUserActivity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogUserActivityStatus]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogUserActivityStatus](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Description] [nvarchar](500) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[IDEntryUser] [int] IDENTITY(1,1) NOT NULL,
	[EntryUser] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_LogUserActivityStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogUserAuthorization]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogUserAuthorization](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[ComputerName] [nvarchar](250) NOT NULL,
	[IPAddress] [nvarchar](50) NOT NULL,
	[IDLogBrowserType] [int] NOT NULL,
	[IDLogOperatingSystemType] [int] NOT NULL,
	[IsMobileDevice] [bit] NOT NULL,
	[IDLogUserAuthorizationStatus] [int] NOT NULL,
	[EntryUser] [varchar](150) NOT NULL,
 CONSTRAINT [PK_LogUserAuthorization] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LogUserAuthorizationStatus]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogUserAuthorizationStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[EntryDate] [datetime] NOT NULL,
	[IDEntryUser] [int] NOT NULL,
	[EntryUser] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_LogUserAuthorizationStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Messages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NULL,
	[IDCompany] [int] NULL,
	[IDPublication] [int] NULL,
	[Email] [varchar](50) NULL,
	[Message] [varchar](500) NULL,
	[InsertionDate] [datetime] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Module]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[EntryDate] [datetime] NOT NULL,
	[IDEntryUser] [int] NOT NULL,
	[EntryUser] [nvarchar](150) NOT NULL,
	[IDParent] [int] NULL,
	[IsPublic] [bit] NULL,
 CONSTRAINT [PK_Module] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Municipality]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Municipality](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NULL,
 CONSTRAINT [PK_Municipality] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PromotionType]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PromotionType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[Price] [decimal](12, 2) NULL,
	[DurationDays] [int] NULL,
	[InsertionDate] [datetime] NULL,
	[IDEntryUser] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
	[IDLastModifiedUser] [int] NULL,
 CONSTRAINT [PK_PromotionType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Publications]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Publications](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDEntryUser] [int] NOT NULL,
	[IDMunicipality] [int] NULL,
	[IDCategory] [int] NULL,
	[Title] [varchar](150) NULL,
	[Subtitle] [varchar](150) NULL,
	[Description] [varchar](500) NULL,
	[ImagePath] [varchar](150) NULL,
	[InsertionDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[HasPromotion] [bit] NULL,
	[IDPromotionType] [int] NULL,
	[PromotionEndDate] [datetime] NULL,
	[ViewCounts] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Price] [decimal](12, 2) NULL,
	[HasPrice] [bit] NULL,
	[Sale] [int] NULL,
	[Latitude] [varchar](100) NULL,
	[Longitude] [varchar](100) NULL,
	[AvailableStudentsNumber] [int] NULL,
	[VacanciesNumber] [int] NULL,
 CONSTRAINT [PK_Publications] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](550) NULL,
	[EntryDate] [datetime] NOT NULL,
	[IDEntryUser] [int] NOT NULL,
	[EntryUser] [nvarchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[IDUpdateUser] [int] NULL,
	[UpdateUser] [nvarchar](150) NULL,
	[WithPasswordPolicy] [bit] NOT NULL,
	[PasswordValidityDays] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleAuthorization]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAuthorization](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDRole] [int] NOT NULL,
	[IDRoleAuthorizationType] [int] NOT NULL,
	[IDModule] [int] NOT NULL,
	[EntryUser] [nvarchar](150) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[IDEntryUser] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[IDUpdateUser] [int] NULL,
	[UpdateUser] [nvarchar](150) NULL,
 CONSTRAINT [PK_RoleAuthorization] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleAuthorizationType]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAuthorizationType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[EntryDate] [datetime] NOT NULL,
	[IDEntryUser] [int] NOT NULL,
	[EntryUser] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_RoleAuthorizationType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subscribe]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subscribe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCompany] [int] NULL,
	[Email] [varchar](100) NULL,
	[InsertionDate] [datetime] NULL,
 CONSTRAINT [PK_Subscribe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tables]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tables](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
 CONSTRAINT [PK_Tables] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[First] [nvarchar](500) NOT NULL,
	[Last] [nvarchar](500) NOT NULL,
	[Account] [nvarchar](500) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[SaltedPassword] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ExpireDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[IDUpdateUser] [int] NULL,
	[UpdateUser] [nvarchar](100) NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[ChangePasswordNeeded] [bit] NOT NULL,
	[LatestPasswordChangeDate] [datetime] NULL,
	[EmailAddress] [nvarchar](150) NOT NULL,
	[ResetPasswordToken] [uniqueidentifier] NULL,
	[ConfirmationNumber] [uniqueidentifier] NULL,
	[WasConfirm] [bit] NULL,
	[ConfirmationDate] [datetime] NULL,
	[IDEntryUser] [int] NOT NULL,
	[EntryUser] [nvarchar](100) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[UserDelete] [nvarchar](100) NULL,
	[DeleteDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[IDRole] [int] NULL,
	[IDDeleteUser] [int] NULL,
	[IDUserAuthorizationType] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAuthorizationType]    Script Date: 3/15/2021 11:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAuthorizationType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[EntryDate] [datetime] NOT NULL,
	[IDEntryUser] [int] NOT NULL,
	[EntryUser] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_UserAuthorizationType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LogDataChange] ON 

GO
SET IDENTITY_INSERT [dbo].[LogDataChange] OFF
GO
SET IDENTITY_INSERT [dbo].[LogDataChangeStatus] ON 

GO
INSERT [dbo].[LogDataChangeStatus] ([ID], [Title], [Description], [EntryDate], [IDEntryUser], [EntryUser]) VALUES (1, N'Edit', N'Edit', CAST(N'2020-02-01 00:00:00.000' AS DateTime), 1, N'ADMIN')
GO
INSERT [dbo].[LogDataChangeStatus] ([ID], [Title], [Description], [EntryDate], [IDEntryUser], [EntryUser]) VALUES (2, N'Delete', N'Delete', CAST(N'2020-02-02 00:00:00.000' AS DateTime), 1, N'admin')
GO
INSERT [dbo].[LogDataChangeStatus] ([ID], [Title], [Description], [EntryDate], [IDEntryUser], [EntryUser]) VALUES (3, N'Insert', N'Insert', CAST(N'2020-02-02 00:00:00.000' AS DateTime), 1, N'admin')
GO
SET IDENTITY_INSERT [dbo].[LogDataChangeStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[LogFailedAuthentication] ON 

GO
INSERT [dbo].[LogFailedAuthentication] ([ID], [Account], [ComputerName], [IPAddress], [IDLogOperationSystemType], [IDLogBrowserType], [IsMobileDevice], [EntryDate]) VALUES (1, N'admin', N'LAPTOP-U57H54T6', N'::1', 1, 1, 0, CAST(N'2021-03-10 00:42:19.217' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LogFailedAuthentication] OFF
GO
INSERT [dbo].[LogInternetBrowserType] ([ID], [Title], [Description], [EntryDate], [IDEntryUser], [EntryUser]) VALUES (1, N'Chrome', N'chrome', CAST(N'2020-02-02 00:00:00.000' AS DateTime), 1, N'admin')
GO
INSERT [dbo].[LogInternetBrowserType] ([ID], [Title], [Description], [EntryDate], [IDEntryUser], [EntryUser]) VALUES (2, N'Edge', N'Edge', CAST(N'2020-02-02 00:00:00.000' AS DateTime), 1, N'admin')
GO
INSERT [dbo].[LogInternetBrowserType] ([ID], [Title], [Description], [EntryDate], [IDEntryUser], [EntryUser]) VALUES (3, N'Explorer', N'Explorer', CAST(N'2020-02-02 00:00:00.000' AS DateTime), 1, N'admin')
GO
INSERT [dbo].[LogOperatingSystemType] ([ID], [Title], [Description], [EntryDate], [IDEntryUser], [EntryUser]) VALUES (1, N'Window', N'Operating System', CAST(N'2020-03-08 00:00:00.000' AS DateTime), 1, N'David')
GO
INSERT [dbo].[LogOperatingSystemType] ([ID], [Title], [Description], [EntryDate], [IDEntryUser], [EntryUser]) VALUES (2, N'Android', N'Operating System', CAST(N'2020-03-08 00:00:00.000' AS DateTime), 1, N'David')
GO
INSERT [dbo].[LogOperatingSystemType] ([ID], [Title], [Description], [EntryDate], [IDEntryUser], [EntryUser]) VALUES (3, N'IOS', N'Operating System', CAST(N'2020-03-08 00:00:00.000' AS DateTime), 1, N'David')
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

GO
INSERT [dbo].[Role] ([ID], [Title], [Description], [EntryDate], [IDEntryUser], [EntryUser], [IsActive], [UpdateDate], [IDUpdateUser], [UpdateUser], [WithPasswordPolicy], [PasswordValidityDays]) VALUES (1, N'Role', N'role', CAST(N'2020-03-08 00:00:00.000' AS DateTime), 1, N'admin', 1, CAST(N'2020-02-02 00:00:00.000' AS DateTime), 1, N'admin', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Tables] ON 

GO
INSERT [dbo].[Tables] ([ID], [Title]) VALUES (1, N'User')
GO
SET IDENTITY_INSERT [dbo].[Tables] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAuthorizationType] ON 

GO
INSERT [dbo].[UserAuthorizationType] ([ID], [Title], [Description], [EntryDate], [IDEntryUser], [EntryUser]) VALUES (1, N'Account System', N'System me email address', CAST(N'2020-03-08 00:00:00.000' AS DateTime), 1, N'admin')
GO
INSERT [dbo].[UserAuthorizationType] ([ID], [Title], [Description], [EntryDate], [IDEntryUser], [EntryUser]) VALUES (2, N'Active Directory', N'Me active directory', CAST(N'2020-03-03 00:00:00.000' AS DateTime), 1, N'admin')
GO
SET IDENTITY_INSERT [dbo].[UserAuthorizationType] OFF
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Municipality] FOREIGN KEY([IDMunicipality])
REFERENCES [dbo].[Municipality] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Municipality]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_User] FOREIGN KEY([IDEntryUser])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_User]
GO
ALTER TABLE [dbo].[CompanyDocuments]  WITH CHECK ADD  CONSTRAINT [FK_CompanyDocuments_Company] FOREIGN KEY([IDCompany])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[CompanyDocuments] CHECK CONSTRAINT [FK_CompanyDocuments_Company]
GO
ALTER TABLE [dbo].[CompanyDocuments]  WITH CHECK ADD  CONSTRAINT [FK_CompanyDocuments_User] FOREIGN KEY([IDEntryUser])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[CompanyDocuments] CHECK CONSTRAINT [FK_CompanyDocuments_User]
GO
ALTER TABLE [dbo].[CompanyRatings]  WITH CHECK ADD  CONSTRAINT [FK_CompanyRatings_Company] FOREIGN KEY([IDCompany])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[CompanyRatings] CHECK CONSTRAINT [FK_CompanyRatings_Company]
GO
ALTER TABLE [dbo].[LogDataChange]  WITH CHECK ADD  CONSTRAINT [FK_LogDataChange_LogDataChangeStatus] FOREIGN KEY([IDLogDataChangeStatus])
REFERENCES [dbo].[LogDataChangeStatus] ([ID])
GO
ALTER TABLE [dbo].[LogDataChange] CHECK CONSTRAINT [FK_LogDataChange_LogDataChangeStatus]
GO
ALTER TABLE [dbo].[LogDataChange]  WITH CHECK ADD  CONSTRAINT [FK_LogDataChange_LogInternetBrowserType] FOREIGN KEY([IDLogBrowserType])
REFERENCES [dbo].[LogInternetBrowserType] ([ID])
GO
ALTER TABLE [dbo].[LogDataChange] CHECK CONSTRAINT [FK_LogDataChange_LogInternetBrowserType]
GO
ALTER TABLE [dbo].[LogDataChange]  WITH CHECK ADD  CONSTRAINT [FK_LogDataChange_LogOperatingSystemType] FOREIGN KEY([IDLogOperatingSystemType])
REFERENCES [dbo].[LogOperatingSystemType] ([ID])
GO
ALTER TABLE [dbo].[LogDataChange] CHECK CONSTRAINT [FK_LogDataChange_LogOperatingSystemType]
GO
ALTER TABLE [dbo].[LogDataChange]  WITH CHECK ADD  CONSTRAINT [FK_LogDataChange_Tables] FOREIGN KEY([IDTable])
REFERENCES [dbo].[Tables] ([ID])
GO
ALTER TABLE [dbo].[LogDataChange] CHECK CONSTRAINT [FK_LogDataChange_Tables]
GO
ALTER TABLE [dbo].[LogFailedAuthentication]  WITH CHECK ADD  CONSTRAINT [FK_LogFailedAuthentication_LogInternetBrowserType] FOREIGN KEY([IDLogBrowserType])
REFERENCES [dbo].[LogInternetBrowserType] ([ID])
GO
ALTER TABLE [dbo].[LogFailedAuthentication] CHECK CONSTRAINT [FK_LogFailedAuthentication_LogInternetBrowserType]
GO
ALTER TABLE [dbo].[LogFailedAuthentication]  WITH CHECK ADD  CONSTRAINT [FK_LogFailedAuthentication_LogOperatingSystemType] FOREIGN KEY([IDLogOperationSystemType])
REFERENCES [dbo].[LogOperatingSystemType] ([ID])
GO
ALTER TABLE [dbo].[LogFailedAuthentication] CHECK CONSTRAINT [FK_LogFailedAuthentication_LogOperatingSystemType]
GO
ALTER TABLE [dbo].[LogUserActivity]  WITH CHECK ADD  CONSTRAINT [FK_LogUserActivity_LogInternetBrowserType] FOREIGN KEY([IDLogBrowserType])
REFERENCES [dbo].[LogInternetBrowserType] ([ID])
GO
ALTER TABLE [dbo].[LogUserActivity] CHECK CONSTRAINT [FK_LogUserActivity_LogInternetBrowserType]
GO
ALTER TABLE [dbo].[LogUserActivity]  WITH CHECK ADD  CONSTRAINT [FK_LogUserActivity_LogOperatingSystemType] FOREIGN KEY([IDLogOperatingSystemType])
REFERENCES [dbo].[LogOperatingSystemType] ([ID])
GO
ALTER TABLE [dbo].[LogUserActivity] CHECK CONSTRAINT [FK_LogUserActivity_LogOperatingSystemType]
GO
ALTER TABLE [dbo].[LogUserActivity]  WITH CHECK ADD  CONSTRAINT [FK_LogUserActivity_LogUserActivityStatus] FOREIGN KEY([IDLogUserActivityStatus])
REFERENCES [dbo].[LogUserActivityStatus] ([ID])
GO
ALTER TABLE [dbo].[LogUserActivity] CHECK CONSTRAINT [FK_LogUserActivity_LogUserActivityStatus]
GO
ALTER TABLE [dbo].[LogUserActivity]  WITH CHECK ADD  CONSTRAINT [FK_LogUserActivity_Module] FOREIGN KEY([IDModule])
REFERENCES [dbo].[Module] ([ID])
GO
ALTER TABLE [dbo].[LogUserActivity] CHECK CONSTRAINT [FK_LogUserActivity_Module]
GO
ALTER TABLE [dbo].[LogUserAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_LogUserAuthorization_LogInternetBrowserType] FOREIGN KEY([IDLogBrowserType])
REFERENCES [dbo].[LogInternetBrowserType] ([ID])
GO
ALTER TABLE [dbo].[LogUserAuthorization] CHECK CONSTRAINT [FK_LogUserAuthorization_LogInternetBrowserType]
GO
ALTER TABLE [dbo].[LogUserAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_LogUserAuthorization_LogOperatingSystemType] FOREIGN KEY([IDLogOperatingSystemType])
REFERENCES [dbo].[LogOperatingSystemType] ([ID])
GO
ALTER TABLE [dbo].[LogUserAuthorization] CHECK CONSTRAINT [FK_LogUserAuthorization_LogOperatingSystemType]
GO
ALTER TABLE [dbo].[LogUserAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_LogUserAuthorization_LogUserAuthorizationStatus] FOREIGN KEY([IDLogUserAuthorizationStatus])
REFERENCES [dbo].[LogUserAuthorizationStatus] ([ID])
GO
ALTER TABLE [dbo].[LogUserAuthorization] CHECK CONSTRAINT [FK_LogUserAuthorization_LogUserAuthorizationStatus]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Company] FOREIGN KEY([IDCompany])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Company]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Publications] FOREIGN KEY([IDPublication])
REFERENCES [dbo].[Publications] ([ID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Publications]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_User] FOREIGN KEY([IDUser])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_User]
GO
ALTER TABLE [dbo].[Publications]  WITH CHECK ADD  CONSTRAINT [FK_Publications_Categories] FOREIGN KEY([IDCategory])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_Publications_Categories]
GO
ALTER TABLE [dbo].[Publications]  WITH CHECK ADD  CONSTRAINT [FK_Publications_Municipality] FOREIGN KEY([IDMunicipality])
REFERENCES [dbo].[Municipality] ([ID])
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_Publications_Municipality]
GO
ALTER TABLE [dbo].[Publications]  WITH CHECK ADD  CONSTRAINT [FK_Publications_PromotionType] FOREIGN KEY([IDPromotionType])
REFERENCES [dbo].[PromotionType] ([ID])
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_Publications_PromotionType]
GO
ALTER TABLE [dbo].[Publications]  WITH CHECK ADD  CONSTRAINT [FK_Publications_User] FOREIGN KEY([IDEntryUser])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_Publications_User]
GO
ALTER TABLE [dbo].[RoleAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_RoleAuthorization_Module] FOREIGN KEY([IDModule])
REFERENCES [dbo].[Module] ([ID])
GO
ALTER TABLE [dbo].[RoleAuthorization] CHECK CONSTRAINT [FK_RoleAuthorization_Module]
GO
ALTER TABLE [dbo].[RoleAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_RoleAuthorization_Role] FOREIGN KEY([IDRole])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[RoleAuthorization] CHECK CONSTRAINT [FK_RoleAuthorization_Role]
GO
ALTER TABLE [dbo].[RoleAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_RoleAuthorization_RoleAuthorizationType] FOREIGN KEY([IDRoleAuthorizationType])
REFERENCES [dbo].[RoleAuthorizationType] ([ID])
GO
ALTER TABLE [dbo].[RoleAuthorization] CHECK CONSTRAINT [FK_RoleAuthorization_RoleAuthorizationType]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IDRole])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserAuthorizationType] FOREIGN KEY([IDUserAuthorizationType])
REFERENCES [dbo].[UserAuthorizationType] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserAuthorizationType]
GO
USE [master]
GO
